*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-500: #3c8067;
  --green-700: #1b4133;

  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2ebe3;
  --white:#ffffff;

  --ff-base:"Montserrat", sans-serif;
  --ff-nb: "Fraunces", serif;
}

html,
main {
  width: 100%;
  height: auto;
  font-family: var(--ff-nb);
  background-color: var(--cream);

  padding: 1rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: .6rem;

  & > .card-img {
    
      & > img {
      max-width: 100%;
      border-top-left-radius: .6rem;
      border-top-right-radius: .6rem;
    }
  }

  & > .card-price > #description {
    & > h2 {
      font: 500 .7rem/2.5 var(--ff-base);
      text-transform: uppercase;
      color: var(--grey);

      margin: 1rem 1rem 0rem 1rem;
    }

    & > h1 {
      font: 700 2rem/1 var(--ff-nb);
      padding: 0rem 1rem;
    }

    & > p {
      padding: 0rem 1rem;
    }
  }
}

.btn {
  padding: 1rem;
  width: 300px;

  font: 600 1rem/1 var(--ff-base);

  border-radius: .6rem;
  border: none;
  background-color: var(--green-500);
  color: var(--white);

  text-align: center;
  justify-content: center;
  align-items: center;

  & > img {
    transform: translateY(.1rem);
  }
}

#footer {
  font-size: .8rem;
  text-align: center;

  & > a {
    text-decoration: none;
    color: #008e28;
  }
}

@media screen and (width >= 1280px) {
  .cards-wrapper {
    display: flex;
    flex-direction: row;
  }
}